.artikel-container {
    width: 300px;
    height:100px;
    display: flex;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: auto;
}

.info:hover {
    background-color: lightgrey;
}

.info {
    width: 24vh;
    height:10vh;
    padding: auto;
    text-align: center;
    font-size: medium;
}

.images {
    width: 180%;
    max-height: 100px;
    max-width: 80px;
}