*{
    margin: 0px;
    padding: 0px;
}

.app-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: 98vw;
    min-height: 98vh;
    flex-wrap: wrap;
    
}